<div class="footer-bar">
  <div class="footer-row">
    <div class="footer-left">
      <span class="listening-label">{{ 'footer.listening_label' | translate }}</span><br>
      <span class="listening-track">{{ 'footer.listening_track' | translate }}</span>
    </div>
    <div class="footer-right">
      <span class="location">{{ 'footer.location' | translate }}</span><br>
      <span class="copyright">{{ 'footer.copyright' | translate }}</span>
    </div>
  </div>
  <div class="footer-center">
    <!-- <span class="company-name">Julio Tech</span><br>
    <span class="company-cnpj">CNPJ: 40.293.310/0001-66</span> -->
  </div>
</div>
