<div class="project-card" [class.project-card--featured]="project().featured">
  <div class="placeholder-container">
    <a [href]="project().url" target="_blank" rel="noopener" class="image-link">
      @if (project().videoUrl) {
        <video 
          [src]="project().videoUrl" 
          [autoplay]="true" 
          [loop]="true" 
          [muted]="true" 
          playsinline 
          class="project-image">
        </video>
      } @else {
        <img [src]="project().imageUrl" [alt]="project().name" class="project-image" />
      }
    </a>
  </div>

  <div class="info-container">
    <h2 class="project-title">{{ project().name }}</h2>
    <p class="project-description">{{ project().description }}</p>
    <p class="project-link-wrapper">
      <a [href]="project().url" target="_blank" rel="noopener" class="project-url">
        {{ project().url }}
      </a>
    </p>
  </div>
</div>
