.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; // Grossura consistente
  padding: 0 1.5rem;
  background-color: var(--color-accent);
  border-bottom: 1px solid var(--color-bg);

  @media (min-width: 768px) {
    justify-content: space-between;
    padding: 0 2.5rem;
  }
}
